/* Inputn field Button */
/* Input container */
.input-container {
  position: relative;
  margin: 20px;
  margin-right: 5%;
}

/* Input field */
.input-field {
  display: block;
  width: 120%;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: rgb(100, 27, 172);
  border-radius: 25px;
  height: 66%;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0);
  pointer-events: none;
  transition: all 0.3s ease;
  margin-left: 10%;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #0367fd;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
  top: -32px;
  font-size: 21px;
  color: #00aaff;
}

.input-field:focus+.input-label+.input-highlight {
  width: 120%;
  margin-left: 4.5%;
}

/* Over all form view */

.formView{
  display: flex;
  justify-content: center;
}

/* Button */
button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 35px;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  height: fit-content;
  margin-top: 1.5%;
  /* margin-left: 1%; */
 }
 
 button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 button:hover {
  background-color: #0071e2;
 }